*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img{
    width: 100%;
}

.flex{
    display: flex;
}

/*HEADER*/

.micro-head{
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

ul li{
    display: inline-block;
    padding: 0 10px;
}

.macro-head{
    background-color: lightblue;
    text-align: center;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    color: white;
}

.text{
    padding: 20px 20px;
    padding-top: 70px;
    width: 50%;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.large-img{
    width: 60%;
    position: relative;
    top: 70px;
}

/*MAIN*/

main{
    background-color: white;
}

.column{
    display: flex;
    justify-content: center;
}

.professional , .advanced , .enterprise{
    background-color: darkorange;
}

#partner-img{
    width: 60%;
    padding: 20px 20px;
}

.little-text{
    width: 40%;
    padding: 20px 20px;
    margin-top: 50px;
}

.card-container{
    flex-wrap: wrap;
    justify-content: center;
}

#operation{
    text-align: center;
    padding: 20px;
}

.card{
    width: calc( 100% / 3);
    padding: 0 15px;
}

.container-large{
    max-width: 100%;
}

.block-container{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
}

.feedback-container{
    width: calc(100% - 60vw);
    background-color: lightslategray;
}

.feedback-container img{
    width: 40%;
    padding-top: 30px;
    padding-left: 15px;
}

.feedback-container p{
    font-size: 10px;
    padding-top: 60px;
    padding-left: 15px;
}

.square{
    height: 15vw;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;
}

.green{
    background-color: lightgreen;
}

.yellow{
    background-color: lightyellow;
}

.blu{
    background-color: lightblue;
}

.orange{
    background-color: orange;
}

.square img{
    width: 60%;
}

.set-6{
    padding-top: 30px;
    padding-bottom: 30px;
}
.set-6 h2{
    padding: 20px;
}

.set-6 li{
    display:block;
    padding: 20px;
} 

/*FOOTER*/

footer{
    background-color: black;
}

.foot-end{
    display: flex;
    justify-content: center;
}


.little-test{
    width: 15%;
    padding-top: 30px;
}

h4{
    font-size: 14px;
    color: white;
    padding: 25px 10px;
}


.little-test ul li{
    color: white;
    list-style-type: none;
    line-height: 30px;
    font-size: 13px;
    display: block;
}

#foot{
    width: 10%;
}

select{
    background-color: black;
    color: white;
    border: none;
}




