*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

img{
    width: 100%;
}

.flex{
    display: flex;
}

i{
    font-size: 35px;
    margin-top: 50px;
}

/*HEADER*/

header{
    margin-bottom: 150px;
}

.micro-head{
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

ul li{
    display: inline-block;
    padding: 0 10px;
}

.micro-head li:not(.not-decoration):hover{
    border-bottom: 1px solid black;
}

button:hover{
    opacity: 0.8;
}

.macro-head{
    background-color: #B4CFE7;
    margin: 0 auto;
}

h1{
    font-size: 70px;
    color: black;
    padding-top: 30px;
}

.text{
    padding-top: 100px;
    width: 50%;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

.text p{
    padding: 30px 0;
}

.large-img{
    width: 60%;
    position: relative;
    top: 70px;
    padding-left: 30px;
}

button{
    color: white;
    background-color: #0061FF;
    border: none;
    padding: 10px;
}

/*MAIN*/

main{
    background-color: white;
}

/*BUSINESS*/

#business{
    margin-top: 150px;
}

#business label{
    padding-right: 25px;
}

.row{
    display: flex;
    font-size: 0.8rem;
    flex-wrap: wrap;
}

.column{
    width: calc(100% / 3 - 20px);
}
.professional , .advanced , .enterprise{
    border: 1px solid #666;
    margin-right: 10px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.column :first-child{
    text-align: center;
}

.column p, h4, h5{
    padding: 15px;
}

.column span{
    color: #0061FF;
    font-size: 15px;
}

.column i{
    font-size: 10px;
}

.column button{
    text-align: center;
    width: 100%;
}

.enterprise-bottom{
    border: 1px solid #666;
    text-align: center;
    font-size: 0.8rem;
}

.enterprise-bottom i{
    font-size: 10px;
}

.flex-doublediv{
    justify-content: space-between;
}

.ent-bot{
    text-align: left;
    padding: 15px;
    width: 70%;
}

.but-but{
    padding-top: 15px;
    padding-right: 15px;
    width: 30%;
}

.flex-doublediv p{
    padding-left: 10px;
}

/*PARTNER*/

#partner{
    margin-top: 150px;
}

#partner-img{
    width: 60%;
    padding: 20px 20px;
}

.little-text{
    width: 40%;
    padding: 20px 20px;
    margin-top: 50px;
}

.little-text h3{
    padding: 20px 0;
}

.little-text p{
    padding: 20px 0;
}

#b-w{
    color: grey;
    background-color: white;
    border: 1px solid grey;
}

/*MULTI-CARD*/

#multi-card{
    margin-top: 150px
}

.card-container{
    flex-wrap: wrap;
    justify-content: center;
}

#operation{
    padding: 20px;
    text-align: center;
}

.card{
    width: calc( 100% / 3);
    padding: 0 15px;
}

.card h3{
    padding: 20px 0;
}

.card p{
    padding-top: 20px;
    padding-bottom: 15px;

}

/*COMPANY-FEEDBACK*/

.container h2{
    font-size: 35px;
    padding-bottom: 100px;
}

#company-feedback{
    margin-top: 150px
}

.container-large{
    max-width: 100%;
    margin-top: 150px;
}

.block-container{
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
}

.feedback-container{
    width: calc(100% - 60vw);
    background-color: lightslategray;
}

.feedback-container img{
    width: 40%;
    padding-top: 30px;
    padding-left: 15px;
}

.feedback-container p{
    font-size: 10px;
    padding-top: 60px;
    padding-left: 15px;
}

.square{
    height: 15vw;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 1s linear;
}

.red{
    color: rgb(255, 140, 0);
    background-color: red;
}

.green{
    color: rgb(144, 218, 238);
    background-color: lightgreen;
}

.yellow{
    color: rgb(224, 255, 237);
    background-color: lightyellow;
}

.blu{
    color: #b4b4e7;
    background-color: #B4CFE7;
}

.orange{
    color: rgb(200, 255, 0);
    background-color: orange;
}

.square img{
    width: 60%;
}

.square:hover{
    border: 10px solid currentColor;
}

.container-large-under{
    background-color: #B4CFE7;
    padding-top: 150px;
    justify-content: center;
    
}

.container-large-under h2{
    padding-bottom: 150px;
    padding-right: 200px;
    color: purple;
}

.container-large-under button{
    margin-bottom: 150px;
    margin-left: 50px;
    border: 1px solid white;
    background-color: white;
    color: gray;
    padding: 15px;
}

/*FAQ*/

#faq{
    margin-top: 150px;
}

.set-6{
    padding-top: 30px;
    padding-bottom: 30px;
}
.set-6 h2{
    padding: 20px;
}

.set-6 li{
    display:block;
    padding: 20px;
} 

.set-6 i{
    font-size: 15px;
    padding-left: 350px;
    padding-top: 20px;
}

/*FOOTER*/

footer{
    background-color: black;
    margin-top: 150px;
}

.foot-end{
    display: flex;
    justify-content: flex-start;
}

.little-test{
    width: 15%;
    padding-top: 30px;
}

.little-test h4{
    font-size: 14px;
    color: white;
    padding: 25px 10px;
}

.little-test ul li{
    color: white;
    list-style-type: none;
    line-height: 30px;
    font-size: 13px;
    display: block;
}

#foot{
    width: 10%;
    margin-top: 40px;
}

select{
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 50px;
}

.ita i{
    color: white;
    font-size: 15px;
}